[2013-09-01 14:36] davelab6 opened #3 "Can't compile for x86_64"
Git master head won't compile for me:

[code]

[2013-09-01 22:43] #3 closed, assigned to nobody

[2013-09-01 23:15] davelab6 opened #4 "Crash in git master"
:)

[code]

[2013-09-29 19:01] #4 closed, assigned to nobody

[2013-11-03 00:53] keevee09 opened #6 "Can't compile on xubuntu-12.04 32-bit"
Trying to compile libspiro on a 32-bit xubuntu-12.04 I perform the following steps:
$autoreconf
$automake       [have tried with and without --foreign -Wall]
$./configure

then make fails at CCLD call-test:

$make
make  all-recursive
make[1]: Entering directory `/home/slarty/CODE/source/fontforge/git_fontforge/libspiro'
Making all in .
make[2]: Entering directory`/home/slarty/CODE/source/fontforge

[2013-11-03 07:03] #6 closed, assigned to nobody

[2014-01-09 13:03] jtanx opened #7 "Cannot compile using parallel make"
There are issues when compiling with parallel make (e.g `make -j4`)

Without this option, it compiles fine.

[code]

[2014-01-10 06:24] #7 closed, assigned to nobody

[2014-01-11 22:41] omasanori opened #8 "Update license headers"
According to COPYING, libspiro is released under the term of GPLv3+, but in the license headers on top of *.c, *.java and bezctx.md are still saying GPLv2+.

It seems necessary to update license headers too.

[2014-01-12 09:55] #8 closed, assigned to nobody

[2015-06-10 19:08] aborrero opened #9 "mipsel build issues"
Hi,

there are some issues in the mipsel build at Debian.
Build log: https://buildd.debian.org/status/fetch.php?pkg=libspiro&arch=mipsel&ver=1%3A0.3.20150131-2&stamp=1430325106

The test-suite.log file:
[code]

[2015-06-11 07:33] JoesCat commented on #9
Hi Arturo,
Thank you for the printout of where it was failing. I looked at
https://buildd.debian.org/status/logs.php?arch=mips&pkg=libspiro&ver=1%3A0.3.20150131-2
and I did not know where it could be failing.

Looking at your log files, libspiro (mips) is failing at creating pthreads.

At the time I created 20150131, I put an arbitrary number of expecting 300
pthreads to be run in parallel, but th

[2015-06-11 10:26] jtanx opened #10 "Fails to link to the math libraries"
Standard Ubuntu 14.04 distribution, gcc-4.8.2-19ubuntu1

https://gist.github.com/jtanx/706a6000e4c667ff8115

[2015-06-11 14:49] JoesCat commented on #10
Hi Jeremy,
Some of the older distros do better with AC_CHECK instead
of AC_SEARCH Seeing that you are also testing for math.h,
I assume you are testing HEAD, and running into the opposite
problem where AC_SEARCH is better than AC_CHECK

See if this works in configure.ac, replace:
AC_CHECK_LIB([m],[cos],[AC_CHECK_HEADER([math.h],[have_libm=yes])])

with:
AC_SEARCH_LIBS([cos],[m],[AC_CHECK_HEADER([m

[2015-06-11 17:26] aborrero commented on #9
On 11 June 2015 at 09:33, Joe <notifications@github.com> wrote:

While testing HEAD, this error arises in my mipsel machine:

While doing the build, this error arises:

[...]
make[3]: Entering directory '/tmp/buildd/libspiro-0.3.20150131'
/bin/bash ./libtool  --tag=CC   --mode=compile gcc -DHAVE_CONFIG_H -I.
-D_FORTIFY_SOURCE=2 -Wall -Wextra -Wcast-align -Wbad-function-cast
-Wc++-compat -Wmissing-

[2015-06-11 23:34] jtanx commented on #10
@JoesCat thanks, that worked.

[2015-06-12 07:35] JoesCat commented on #10
Glad to know it's good.
I'll assume you fixed both lines ("search" and removing the #).

I'll patch the fix in on the next update.

[2015-06-12 08:14] jtanx commented on #10
Yep, I switched to AC_SEARCH_LIBS and uncommented the hypot test

[2015-06-12 08:23] JoesCat commented on #9
Hi Arturo,
I recall when working with Borrero Gonzalez wrote:

My first reaction is that there is a mis-match of "{" to "}" between the
start of the function spiro_iter at 687 down to line 812. To be on the safe
side, you may want to copy file spiro.c into your mipsel machine again, just
to ensure there was no file corruption.

My second thought is how another user had trouble with an older compil

[2015-06-12 08:31] JoesCat commented on #9
more reading material concerning  -D_FORTIFY_SOURCE=2

Mainly, might be memory intensive operation
http://stackoverflow.com/questions/13517526/difference-between-gcc-d-fortify-source-1-and-d-fortify-source-2

[2015-06-12 08:55] #10 closed

[2015-06-14 22:14] JoesCat commented on #9
I'm not sure about your reply, is this issue considered fixed? or is there still a problem?
If problem, do you have a new log?

[2015-06-15 07:05] aborrero commented on #9
On 15 June 2015 at 00:14, Joe <notifications@github.com> wrote:

Sorry, I didn't manage to get time to give additional testing. Please, give
me a couple more of days.

--
Arturo Borrero González

[2015-06-15 08:35] JoesCat commented on #9
Okay,
Thanks Arturo.
I wasn't sure if this was done due to the wording of your reply.

I'm very interested to know the results since this is a non-x86 CPU and FPU
with RISC behaviour and another method of floating point processing which
may give matching results, or maybe deviate a bit and fail in one of the
3000 pthread tests.

[2015-06-16 16:51] aborrero commented on #9
I was able to build libspiro on mipsel :-)

The test suite ends like this:

[code]

Thanks, I will let the Debian maint know.

--
Arturo Borrero González

[2015-06-17 07:10] JoesCat commented on #9
Thanks for your help Arturo, That is good news!
I'll begin preparing for 0.4 soon.

[2015-07-01 16:32] #9 closed

[2015-07-02 09:50] chneukirchen opened #11 "FTBFS due to call-test4.c missing"
044e1091a adds a reference to call-test4.c, but the file was not commited, breaking the build.

[2015-07-02 14:19] JoesCat commented on #11
Thanks for the quick reply Christian,
I missed doing a git add tests/call-tests4.c while doing a lot of edits while waiting between June (Beta_0v4) and final release of 0.4.20150701. I should have caught this by doing a 'make distcheck' and working from the tar file produced from 'make distcheck'. Meanwhile, I've also added 2 fixes pointed-out by Coverity Scan which also should have been included

[2015-07-02 14:26] chneukirchen commented on #11
Builds fine, thanks for the quick fixing.

[2015-07-02 14:26] #11 closed

[2016-09-09 00:30] jtanx opened #15 "Make dist tarballs"
Each release should have a dist tarball. I can make them, I guess.

[2016-09-09 00:36] jtanx commented on #15
I've made tarballs for 0.5.20150702 and 0.3.20150131. I haven't made one for 0.2.20130930 because `make dist` fails.

[2016-09-09 01:39] #15 closed

[2016-12-25 22:26] nanjizal opened #16 "Have ported to Haxe"
Hi just letting you know I have ported the code to Haxe so it should now be very cross platform ( haxe supports php7, c++, hashlink ( c and c vm ), neko vm, javascript, flash, c#, java, python, lua ).
https://lib.haxe.org/p/hxSpiro/0.0.1
The demo is still rather rough uses svg javascript but allows you to place points or move them, it should be fairly easy to rebuild for cross target Haxe librarie

[2016-12-26 00:45] JoesCat commented on #16
Hi @nanjizal,
Thanks for catching our attention - very much appreciated.

If there are any patches you would like to push upstream, please consider doing so. It may improve libspiro itself, and can help make it easier to progress without dealing with fragmenting directions.

[2017-02-26 15:06] nanjizal commented on #16
Joe
Thought you might be interested I have created demo use with Kha ( WebGL, Android, IOS etc.. ) and also with Haxe javascript WebGL ( or SVG, Canvas ) using my experimental library justTriangles eg:
[WebGL codepen online demo](http://codepen.io/Nanjizal/pen/qReLLR)
Demo githubs are linked in the readme.
[hxSpiro](https://github.com/nanjizal/hxSpiro)
The experimental code to allow GPU graphics i

[2017-02-26 15:12] nanjizal commented on #16
If you would like me to create a Swing Java demo version using hxSpiro, or other Java approach please let me know, or could try something for one of the other Haxe targets... PHP7, C#, Lua, Python etc... although no doubt the Kha version should have quite a bit of coverage targeting Unity, Flash, Java, c++, hashlink etc...

[2017-02-26 15:16] nanjizal commented on #16
Really you should update the readme

Since you can now Spiro in many common languages via the other repositories above and hxSpiro.

[2017-02-27 02:02] JoesCat commented on #16
Thanks for the update.
Will look at it later, but at the moment, got several things to do first.

[2019-07-06 22:42] jtanx opened #18 "Release?"
@JoesCat are you happy to cut a new release? I'm planning on switching the Windows builds of FontForge to just use the main msys2 package repo instead of having to maintain my own for libspiro/libuninameslist, but this will mean going back to the last tagged version of libspiro.

[2019-07-07 17:18] JoesCat commented on #18
Prefer a hold.
I'm actually adding quad.
Need a few more days to figure this out.
Was testing arcs this morning.

Awesome spellcheck errors provided by my Awesome smartphone.

-------- Original message --------
From: Jeremy Tan <notifications@github.com>
Date:2019-07-06  11:42 PM  (GMT+00:00)
To: fontforge/libspiro <libspiro@noreply.github.com>
Cc: Joe <digital@joescat.com>, Mention <mention@norep

[2019-07-07 17:21] JoesCat commented on #18
Also seem to have had lost write access to fontforge some time shortly after the last push. Something change recently?

[2019-07-07 21:42] jtanx commented on #18
Ok, no worries.

Regarding write access, no I don't see anything that's changed.

[2019-07-08 16:48] JoesCat commented on #18
Seems to be OK now.

[2019-12-17 10:19] fcambus opened #21 "Stack-based buffer overflow in the spiro_to_bpath0() function"
Hi,

When building libspiro 20190731 with AddressSanitizer enabled and running the test suite, I found a stack-based buffer overflow in spiro_to_bpath0() in spiro.c.

In the test suite, `call-test14` to `call-test19` all trigger the same issue.

The issue can be triggered as follow:

[code]

[code]

[2019-12-17 11:24] ctrlcctrlv commented on #21
How could this have been missed?

https://github.com/fontforge/libspiro/blob/6c04efe38570a09d2a0ffd3e5d8ea9117a7f3033/tests/call-test.c#L539
https://github.com/fontforge/libspiro/blob/6c04efe38570a09d2a0ffd3e5d8ea9117a7f3033/spiro.c#L1182

C arrays are 0-indexed! This could never have worked, could it??

[2019-12-17 15:10] JoesCat commented on #21
Yes, you are correct, dm[5] = 1. would be a problem.
(Should be 6 instead of 5 like in spiroentrypoint.c line 48)

Also noticed line 548
[code]
needs to be fixed as:
[code]

@fcambus, can you do those two mods and try it again?
If it works, are you interested/able to formulate a patch - we can also merge it in.

[2019-12-17 16:07] fcambus commented on #21
This issue has been assigned [CVE-2019-19847](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19847).

[2019-12-17 16:08] fcambus commented on #21
@JoesCat Sure, will try your modifications when I come back home and report back.

[2019-12-17 16:18] JoesCat commented on #21
For clarification - the buffer overflow happens in the test programs, not the library itself.

call-testN do progressive tests of the library, so it does some calls that aren't defined entrypoints in the developer H files - anyone that uses the libspiro H files shouldn't need to be playing around with these dm[6] variables.

Thanks! - good catch - will look forwards to seeing a patch.

[2019-12-19 20:08] fcambus commented on #21
Well, the buffer overflow happens in spiro_to_bpath0() which is a library function and an exported symbol:

[code]

And you also define its prototype in spiro.h which is installed in PREFIX/include.

But I understand it is called directly in the test suite for testing purposes but is not supposed to be called directly by library users.

Your modifications indeed fix the crashes in the test suite,

[2019-12-20 01:57] ctrlcctrlv commented on #21
We should first make sure it's not being used, as it's likely been exported for years. I checked&mdash;it's not in use by FontForge. @JoesCat would know best as to other projects to check.

[2019-12-20 07:17] fcambus commented on #21
Debian Code Search shows it is apparently only used in libspiro itself: https://codesearch.debian.net/search?q=spiro_to_bpath0&literal=1

[2019-12-20 10:20] fcambus opened #22 "Segmentation fault in call-test20"
Hi,

The issue can be reproduced out of the box when building and running the test suite on OpenBSD and FreeBSD.

It can be reproduced on Linux with GCC by enabling the Stack Smashing Protector (SSP):

[code]

[2019-12-20 16:26] JoesCat commented on #21
Likewise, internet search for spiro_to_bpath0 also showed nothing except for the [CVE-2019-19847](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19847).

Most users that come to mind, use the "advertised" API entries, examples:
FontForge, FontAnvil, GIMP
...but I'd rather avoid to stop exporting the function since there is a possibility someone could make use of it, one example that comes

[2019-12-21 10:32] fcambus commented on #21
Thanks for the update, you can go ahead and commit your patch.

[2019-12-22 09:58] JoesCat commented on #21
I worked on this a bit, and you have to copy the dm[] resulting values calculated in run_spiro0() and give them to the spiro_to_bpath0() - it can be internalized, but it would make the access points run_spiro0() and spiro_to_bpath0() of no value as you would not be able to scale or shift results.

bugs patched.

[2019-12-22 10:08] JoesCat commented on #22
It took a bit of fiddling to find a way to trigger this fault on test20, but managed to do that with:
```./configure CFLAGS="-fstack-protector --param ssp-buffer-size=4 -g -O0"```

Appears I introduced a bug after "Allow Spiros to be scaled and/or shifted. Scaling bug fixed."
Valgrind comes clean for all tests here:
```./libtool --mode=execute valgrind -v --error-exitcode=1 ./tests/call-test15```

[2020-01-06 07:41] JoesCat commented on #22
Hi @fcambus - appears the git comment auto closed this issue, I'll reopen it.

Would you mind giving the latest patch a spin?
[Fix memory access bug/error created earlier by patch 2017-10-28](https://github.com/fontforge/libspiro/commit/b2328b9534af36f40e351a26138550376c104569)

There is one more thing that has my attention that I'd like to stomp-out before doing a fresh release.

Thanks,
Joe

[2020-01-06 10:55] fcambus commented on #22
Thanks for looking into this issue.

I can confirm the test suite now runs all the tests correctly with your latest patch.

[2020-01-06 11:00] #22 closed

[2020-01-06 21:11] MaddTheSane opened #23 "use of undeclared identifier 'uint'"
It looks like commit bdb023f1aa7347f093df4a3020d10c7449b36b89 broke compilation on Mac OS X. Any place that has `uint` results in an error.

[2020-01-06 23:56] ctrlcctrlv commented on #23
Does it need to be typed out to unsigned int? Does defining a typedef only on OS X allow you to build?

[2020-01-07 01:25] MaddTheSane commented on #23
It needs to be defined, and then it will build.

I defined it in `config.h` in one instance:
````typedef unsigned int uint;````
And it compiled just find.

[2020-01-07 01:31] MaddTheSane opened #24 "'finite' is deprecated"
When compiling on OS X, it reports a deprecation warning:
[code]

The comment for `finite` says what should be done:

Looks like the `HAVE_FINITE` macro detection needs to be tweaked for OS X.

[2020-01-08 03:46] JoesCat commented on #23
Guess shortcuts don't count anymore.

The typedef is a good idea, but it's only a few values,
so I'll use the longhand version.

Thanks for confirming that it builts fine.

[2020-01-08 04:06] JoesCat commented on #24
It was only 2015 I was answering a question about MIPs, while an older BSD
still required finite().

I'll switch the definition around so infinite() appears first, then finite()

[2020-01-08 04:22] ctrlcctrlv commented on #23
Thanks for continuing to maintain this Joe, all of my fonts except my very first one rely on Spiro in one way or another.

[2020-01-12 09:39] JoesCat commented on #24
@MaddTheSane, would you mind testing latest patches?

[2020-01-12 09:41] MaddTheSane commented on #24
Tested, compiles fine. No deprecated warnings.

[2020-01-15 04:22] #24 closed

[2020-01-15 04:22] #23 closed

[2020-05-05 08:19] JoesCat commented on #21
Released Libspiro, version 20200505 (1.1.0)
Closing issue as resolved.

[2020-05-05 08:20] #21 closed

[2020-05-05 08:21] JoesCat commented on #18
Now bump-up to 1.1

[2020-05-05 08:21] #18 closed

[2020-05-11 06:44] ctrlcctrlv opened #26 "Output Bézier splines not deterministic enough"
Hello @JoesCat, good day.

A problem I've been thinking about for a while is how we can increase the determinism of the output Béziers from libspiro, at the cost of increased path complexity, and, perhaps, even some mathematical accuracy.

This would make it much easier for Spiro splines to be used in variable fonts, or in other cases where we'd want interpolation. Right now, Spiro users such as m

[2020-05-11 09:14] JoesCat commented on #26
Hi Fredrick,
I am guessing you might be making this problem more complicated than I think it is.
Having looked at some gifs showing variable fonts, it seems you're really just playing with X as a variable.
The frame of reference is important. When people believed Earth as the center of observation, there was a complicated set of wheels upon wheels charting the orbits of the planets and stars. When

[2020-05-11 09:33] ctrlcctrlv commented on #26
@JoesCat When I say "variable fonts", I don't mean a custom rasterizer which would support Spiro, or which would interpolate Spiro points, but rather [OpenType 1.8 Font Variations](https://docs.microsoft.com/en-us/typography/opentype/spec/otvaroverview], which only can be drawn using quadratic or cubic B&eacute; splines. So, we would have two slightly different Spiro splines, and the hope is, we g

[2020-05-11 09:56] skef commented on #26
Having thought about related issues I continue to think that there's no need for a tool specific to Spiro or Expand Stroke to support variable fonts. What is needed is a tool that can take two or more smooth (sub-)contours (occasionally closed (as in the middle of an "o") but usually open (as in the outside of an "e")) as input and outputs corresponding (sub-)contours with the same endpoints but h

[2020-05-11 10:06] ctrlcctrlv commented on #26
Thanks @skef. If you say it's impossible I trust your judgment, you're the math wiz around here. 🧮

(By the way, I might not be pushing round 2 of fontforge/fontforge#4321 tonight, sorry about that. I have been working on it but have gotten bogged down in some part of it. Hopefully @davelab6 doesn't kill me.)

[2020-05-11 10:11] ctrlcctrlv commented on #26
Although, maybe, for my sake, if you feel like educating the simple, you can explain why it's impossible to go segment-by-segment in a Spiro spline and come up with an approximation using _n_ curve points of the normal B&eacute;zier conversion of that segment?

[2020-05-11 10:24] skef commented on #26
The argument isn't that it's impossible it's that I don't see what a Spiro-specific tool would add.

Here is a simple curve-fitting heuristic that could be applied to the variable font problem: Take each corresponding sub-contour and fit it with successive point counts until you're under an error threshold. Then take the max needed point count and refit the other ones to get the same number of poi

[2020-05-11 10:31] ctrlcctrlv commented on #26
Yes @skef you're right, I was already taking it for granted that we'd need a new Spiro conversion function which takes two Spiros, which would need to be checked for "Spiro compatibility" (essentially the same thing as cubic/quadratic compatibility, but marginally simpler with Spiro as all points are on-curve). Then, we'd call this function in e.g. `Interpolate Fonts`, and perhaps some future &laq

[2020-05-11 10:41] skef commented on #26
Except that in either case you're not fitting to FontForge points but to either the geometry of the curve as a whole (less likely) or to points sampled along it. Sampling with "native Spiro" vs Bezier isn't likely to make a substantial difference. Maybe Spiro makes uniform sampling easier (I haven't looked into it) but you probably only need approximately uniform sampling anyway.

I looked into di

[2020-05-11 11:20] skef commented on #26
Incidentally Spiro *point* interpolation is easy: Just do it the same way as you would a normal transformation. However, given that linear transformations on Spiro points aren't affine there is no clear relation between Spiro point interpolation and true variable fonts. One could interpolate between Spiro masters for inspiration or as a potential source for more masters but the "end user" can't do

[2020-05-12 01:49] JoesCat commented on #26
Thanks for the external links - weight and width.
I would agree with @skef - the better direction is a toolbox.
Let libspiro be good at what it does - draw a "single" curve.
Inkscape may appear to create two curves https://www.youtube.com/watch?v=3OaLZuFZxdk but this is a single curve - you see it at the beginning, and you see the knots again at 2:12 minutes.
What you need is a toolbox that takes

[2020-05-12 02:01] skef commented on #26
@JoesCat As @ctrlcctrlv has noted, although variable fonts often support width and weight changes at the high level that goal doesn't have any direct analogue in the implementation. The nuts and bolts of variable fonts are implemented by linearly interpolating the corresponding Bezier points (on-curve and control) of "master" contours. When there is a "weight" knob it is because the designer has i

[2020-05-12 05:00] JoesCat commented on #26
ok - going back-n-forth between all the info in this thread...
...ok, think I gotcha.
...so the "interpolation" refers to trying to draw the same curve using quadratic and/or cubic.
Let's see.... back to the Original question...just to get this out of the way...
@ctrlcctrlv - I can see you had trouble trying to use libspiro to draw two sets of curves.
The math in libspiro seems to target -0.5...+0

[2020-05-12 05:17] skef commented on #26
@JoesCat Just to clarify the term [(linear) "interpolation"](https://en.wikipedia.org/wiki/Linear_interpolation) is used in its ordinary sense. Say you have two reference numbers: 20 and 40. 30 is 50% of the way from the former to the latter, 35 is 75%, and so on. If you have points (20,20) and (40,40) then it's similarly (30,30) and (35,35).

As you turn the knob on a variable font all that's goi

[2020-05-12 10:11] JoesCat commented on #26
Thanks @skef for the interpolation clarifications.
BTW, the [sine wave](https://en.wikipedia.org/wiki/File:Interpolation_example_linear.svg) reminds me of a [past project](http://www.joescat.com/micro/pic/sine_7hz96.html), where you take a clean sinewave (let's say -1.0....+1.0) and approximate the best fit in an integer format.

I looked at this https://docs.microsoft.com/en-us/typography/opentyp

[2020-06-15 08:38] terryspitz commented on #26
Fascinating discussion.  I'm also interested in using spiro for variable fonts, but had basically given up:  matching bezier output points sounds like a great solution tho'.
FYI: My current font is toybox here https://terryspitz.github.io/dactyl-font/explorer/public/index.html - note this recalculates spiros on every change in javascript compiles from F#!

[2020-09-18 06:37] ctrlcctrlv opened #27 "Rust port"
Hello Joe:

As part of my new font editor project (currently only a glyph editor :wink:), I created a Spiro binding in Rust.

https://github.com/mfeq/spiro-sys

I'll also be making what Rust users call a "safe" version; basically, this is a version which wraps the memory-unsafe functions of libspiro to provide a (more) memory-safe API.

I noticed while doing this that the README's drawing of path

[2020-09-18 17:56] ctrlcctrlv opened #28 "Please consider using `static const`'s for SPIRO_CORNER, SPIRO_G4, SPIRO_G2, etc."
Let me begin by saying, this is not really your problem, but rather `bindgen`'s problem. (`bindgen` does the C interop for Rust, one of the main reasons I think Rust is worth using; without `bindgen` giving C ABI access it's not that great.)

But, I think it would be good to consider changing it anyway. 🥺😉

Having these as symbols in the library is better than just `#define`'s and makes it easier

[2020-09-18 18:12] ctrlcctrlv opened #29 "Please consider changing bezctx* to void* most places"
(Copied from mfeq/libspiro@772785bab2204d288ea88da2cf30915c453dc4d0 [README.md](https://github.com/mfeq/libspiro/blob/772785bab2204d288ea88da2cf30915c453dc4d0/README.md#on-types), which assumes this was already done. Of course it's open for discussion, I'm just too lazy to retype. :smile:)

Before 20200918, the Bézier context was of type `bezctx*`, meaning, a pointer to a `_bezctx` struct. (`typed

[2020-09-18 18:14] ctrlcctrlv opened #30 "`make test` does nothing and should be removed; `make check` should be documented as "the right way to do it""
For some reason, `Makefile.am` contains a reference to `make test`:

https://github.com/fontforge/libspiro/blob/84ce4dfd24f0e3ee83589bbfb02723dff5c03414/Makefile.am#L43-L44

This does nothing. Eventually I determined `make check` was the proper command; this should probably be documented. :smile:

[2020-09-18 18:30] skef commented on #29
It seems more correct (although maybe still not entirely correct) to think of a `void*` as an "opaque pointer" rather than as "any pointer". The main reason for the `void*` convention is that it's a pointer that can't be fruitfully dereferenced and has no sensible relationship to pointer arithmetic (and therefore, in C, array notation). So the type tracks "pointer" as a *data format* (mostly size,

[2020-09-19 00:38] jtanx commented on #28
You can't use variables like those proposed in switch statements fwiw.

[2020-09-19 01:52] ctrlcctrlv commented on #28
Oh, hmm, that's quite a problem when it comes to general applicability of this patch outside `bindgen`.

The problem with just having a `const` though, no `static`, is that the linker complains about multiple definitions.

Perhaps there's no way to make all software happy in this case.

[2020-09-19 07:56] JoesCat commented on #27
Actually, using FontForge X,Y cooridinates as seen in the FontForge drawing window, the Y dimension goes positive value up, so it looks like you need to make negative Y to do the same for fonts. However, you did catch a bug. Good catch.

The libspiro drawing example in the readme is a fabricated mixture from the FontForge GUI using the '[' and ']' commands, and some expected bezier target points i

[2020-09-19 08:47] JoesCat commented on #28
Well, libspiro was created in 2007, and I've tried to maintain backwards compatibility as much as possible - successfully so far (I think).
Adding the patch is sort of like having the tail wag the dog, because it's going to break compatibility at a source code as well as at an executable level.
If libspiro is to be reusable, we should try to maintain a stable APIs that is usable by FontForge, GIMP

[2020-09-19 10:04] JoesCat commented on #30
This code was implemented in 2013 to avoid importing testsuite which was neither stable or usable on some platforms. Basically, it's testsuite-lite, without having to include testsuite.
It is based on other code that used similar techniques (back then in 2013).

Fewer dependencies allowed libspiro to have a better chance of compiling on more platforms.

[2020-09-19 10:20] JoesCat commented on #29
At a binary executable level, they are all void * but we treat all those void differently according to what we think the input is supposed to be (segfaults and buffer overflows just prove that what we thought we received ain't what we thought we got).

At a compiler level, we try to do some error checks, and instead of treating everything as void, we try to give some definition (to the compiler),

[2020-09-19 16:59] ctrlcctrlv commented on #29
Yes, I know all pointers are the same at the binary level.

I don't mind maintaining a fork of libspiro for Qglif & other MFEQ modules if you don't want to merge, it's okay. In the same way George forked Raph's work. It can't be helped.

[2020-09-20 19:09] JoesCat commented on #28
Possible solution since these are basically the same:
[=91
]=93
a=97
c=99
h=104
o=111
v=118
z=122
{=123
}=125

[2020-09-20 19:24] JoesCat commented on #28
I've grabbed some of this patch (Bezier vs bezier), otherwise most of this is going to break a lot of existing code so I'd have to discard everything else.
At this point - Think it's safe to close this issue.

[2020-09-20 19:24] JoesCat commented on #28
I've grabbed some of this patch (Bezier vs bezier), otherwise most of this is going to break a lot of existing code so I'd have to discard everything else.
At this point - Think it's safe to close this issue.

[2020-09-20 19:26] ctrlcctrlv commented on #28
No problem at all. My patch makes `bindgen` happy, which doesn't matter for you the upstream repo. If it can't be done in a way that's going to satisfy other implementations, it shouldn't be done, and I should just maintain a fork.

[2020-09-20 19:26] #28 closed

[2020-09-20 19:27] ctrlcctrlv commented on #28
(By the way, I think this should be fixed in `bindgen` and will open a bug there if one doesn't exist.)

[2020-09-20 19:29] ctrlcctrlv commented on #30
`make check` should still be documented even if `make test` is not removed. `make test` maybe should output a warning that it does nothing intentionally

[2020-09-20 19:30] JoesCat commented on #28
If not a bug - it seems like is a limitation on what you can do.

[2020-09-20 19:33] ctrlcctrlv commented on #28
Well I think most people are just using `bindgen` as a base and then editing the file it produces, while I'm trying to make `bindgen` produce perfect code with no edits afterwards, and distributing exactly the file as it comes out of `bindgen`. So perhaps it's a "little of column A, little of column B." :wink:

[2020-09-20 20:00] ctrlcctrlv commented on #28
By the way @JoesCat , I've got a much better API which I'm putting in the `spiro-rs` crate, it allows you to construct a `Spiro` like:

[code]

[2020-09-20 20:40] JoesCat commented on #28
I started to put together a patch/wedge based off of Raph's 2007 code (relicensed Apache), but decided I need to get other stuff done, however the thought would to to substitute libspiro *.h files with wrapper, something like this:
[code]
...basically - rethinking how to use the same library...

...however, if you have another solution that works....sounds fine.

FYI - if you want others to respec

[2020-09-20 20:41] JoesCat commented on #29
Think this can be closed too - similar reasons as issue#28

[2020-09-20 20:41] #29 closed

[2020-09-20 20:43] JoesCat commented on #27
TODO - Will need to redraw images starting from 0,0

[2020-09-20 20:46] JoesCat commented on #30
TODO - add make check and maybe make distcheck to README/README.md

[2020-09-20 20:53] JoesCat commented on #16
libspiro is at 1.0+, closing this issue.

[2020-09-20 20:53] #16 closed

[2020-09-20 21:22] ctrlcctrlv commented on #28
Do you think I've done something wrong here? I wrote quite clearly:

So, _only my build script_ is Apache2. My fork of libspiro is GPL3.

[2020-09-20 22:32] ctrlcctrlv commented on #28
@JoesCat Do you mind helping me find the 2007 Apache 2 code? Not finding it

[2020-09-20 23:16] ctrlcctrlv commented on #28
Nevermind, found it. It's not from 2007 exactly, the re-licensing occurred last year against code from 2007.

https://github.com/raphlinus/spiro

If you're upset with how I worded things, I'll see about using this

[2020-09-21 03:42] ctrlcctrlv commented on #27
Moving discussion from #28 here.

I'm still not exactly sure what I've done to upset you ("FYI - if you want others to respect your license, then you should respect other licenses too"), but I managed to get @raphlinus 's code to compile:

[code]

Only changed `spiro.c`:

[code]

And a new quick and dirty Makefile:

[code]

[2020-09-21 03:54] ctrlcctrlv commented on #27
Well now that I've done all this work to get a build...I've managed to transpile it with c2rust, so maybe I'm just going to go with a pure Rust implementation and get out of your hair.

I simplified the `Makefile` (pared it down to `bezctx.o spiro.o`) and this worked:

[code]

Here are the transpiled files with @immunant's project:

https://gist.github.com/ctrlcctrlv/82042e64a27753fa69a0ffbb0cc64f

[2020-09-21 03:59] ctrlcctrlv commented on #27
Dude, whoa 🤯

[code]

Check it out @raphlinus , your 13 year old code running in pure Rust! :D

OK, well, now that it works real well I don't need to use my `spiro-sys` or `bindgen` or anything I don't think!

[2020-09-21 04:14] ctrlcctrlv commented on #27
OK so Rustifying this isn't going to be so hard I don't think. After these it still builds:

[code]

Far out 😎

[2020-09-21 07:02] JoesCat commented on #28
Hi Fredrick,
As you mentioned - you are willing to fork.
When I looked at https://github.com/mfeq/spiro-sys/blob/master/src/lib.rs and https://github.com/mfeq/spiro-sys/blob/master/tests/spiro_to_beziers.rs I realized that it won't stop here, and other parts will bleed into spiro.
This was clearly GPL+ libspiro code and none of this is mentioned in the license file - don't take it personally - I'd

[2020-09-21 07:27] skef commented on #28
Just for the record I don't think that https://github.com/fontforge/fontforge/issues/4077 was really left unresolved. The primary blocking issue are the remaining files that started out GPL licensed, which are mostly related to the word list stuff. That is, it's a todo issue and not a legal question.

As it happens no one as yet has felt strongly enough about changing back to BSD to work through t

[2020-09-21 09:41] ctrlcctrlv commented on #28
Let's slow down and look at what really happened here.

There's no laundering going on. Actually, the first version was _not_ transpiled, it was bound to the C libspiro which was compiled with a C compiler. It's a _binding_. I mentioned in mfeq/spiro-sys README.md that the C code is not under the same license. The _only_ part of that code that is Apache2 is `build.rs`, which does the building. _On

[2020-09-21 15:20] JoesCat commented on #28
Well - glad to see this went from panic mode -> to a better solution that resolved several issues.

[2020-09-25 18:34] nanjizal commented on #16
Raph has allowed me to release under MIT.
https://github.com/nanjizal/hxSpiro2019/
Haxe now allows functions outside classes, this is now the latest Haxe version of Spiro and licensed as MIT, will work in js, java, python, c++ etc... it lacks examples, but if anyone is interested please contact me and I will assist.
https://github.com/nanjizal/hxSpiro2020/

[2020-09-26 18:43] JoesCat commented on #16
Hi @nanjizal,
I took a quick look at hxSpiro2019, and seeing it originated from 2016 code, you still need to retain the GPL3+ license. https://github.com/nanjizal/hxSpiro2019/issues/1
your 2020 code also has the same problem - originating from libspiro 2016 code too.

[2020-09-28 03:19] davelab6 commented on #16
I think Raph is offering non-GPL licenses more recently, though

[2020-09-29 03:38] JoesCat commented on #16
Understood.
However, this code is still based on libspiro code - not spiro code.

[2020-09-29 03:58] jamadagni commented on #16
Hi. Please clarify what is the difference between libspiro and spiro code
you mean.

On Tue, 29 Sep, 2020, 09:08 Joe, <notifications@github.com> wrote:

[2020-09-29 20:28] nanjizal commented on #16
My port was never based on libspiro it was derived from multiple language implementations of Spiro and significantly changed to take advantage of many Haxe features it's a different programming language, if Raph is happy for me to release a MIT version, and I am happy then I think that's fine.
This seemed quite interesting on the topic..
https://opensource.stackexchange.com/questions/9557/upstream

[2020-09-30 14:26] ctrlcctrlv commented on #16
Here is the history as I understand it.

In around 2007, @raphlinus (Raph Levien) published C code online which implemented Spiro. His code however was not easily linked to as a library. Its main purpose was running the GTK 1 plate application.

George Williams, who at that time was still around and actively developing FontForge, took a liking to the code and made it optionally linkable as a libra

[2020-09-30 14:28] ctrlcctrlv commented on #16
Oh and of course let's not forget all the GPL2/3 licensed changes made since then by @JoesCat

[2020-10-01 19:46] nanjizal commented on #16
Since I am currently working in manual labour and not code :( , I have decided it is simplest to remove hxSpiro2019 and hxSpiro2020 from Github, the whole purpose of revisiting my port was to make an unused GPL port more useful by relicensing it under MIT as discussed by Raph, I feel it's a great shame that Joe was not keen to help achieve this end.

It makes no sense to leave them up as I no long

[2020-10-01 21:36] nanjizal commented on #16
removed

[2020-10-01 21:38] ctrlcctrlv commented on #16
Hi I'm sorry I don't think you needed to remove it and I think you're blaming the wrong person here

This isn't Joe's fault. It's nobody's fault that George is no longer contactable. He can't legally change the license of this code because George isn't here to say that's okay.

If you don't want to accept the GPL I don't know what to tell you, I think George is still alive you could try to contact

[2020-10-03 02:22] nanjizal commented on #16
hxSpiro2019 was released to provide MIT without examples or motivation for me to create some it's probably not going to be used.
hxSpiro is still online and has example code. Perhaps hxSpiro JVM may run faster than libspiro java version, if you run into compiler errors getting setup against latest Haxe then I can take a look but not working in software at moment so may not respond fast.

[2020-10-03 02:49] ctrlcctrlv commented on #16
I see. I'm sorry that you were under this impression but I just want you to know that Joe is not your enemy here. It is an unfortunate effect of history that this repository is GPL and nothing else, and if you do manage to reach out to George and if he does agree to come on here and write something to that effect I imagine Joe would be happy to do the same for his contributions. But I have not hea

[2020-10-03 08:51] nanjizal commented on #16
It was based mostly on the js and c# which both did not have GPL license when originally I started porting, I found this java version not really cleanly enough structured to port easily, and only useful for examples. My code was more a port of the algorithm the actual code structures were widely adjusted, but there is no point in code that has uncertain MIT status. I could probably port Raph's Pyt

[2020-10-03 08:59] ctrlcctrlv commented on #16
I very much disagree with the assertion that Spiro is difficult. Absolutely if you do not understand how it works and the different types of points and what's available to you you are going to struggle. But I use it in every single one of my fonts not even joking. Some of my fonts I start with a Spiro and then I go over it. TT2020, every base outline before roughening is a Spiro spline set. So I w

[2020-10-03 10:08] nanjizal commented on #16
its more that it can be a bit unstable at certain points, I believe newer algorithms avoid this completely

[2020-10-03 10:15] nanjizal commented on #16
hxTrueType is MIT although doubtfully has wealth of features of FontForge.

[2020-10-03 19:45] davelab6 commented on #16
I agree with Joe and Fred

[2020-10-04 04:46] JoesCat commented on #16
@nanjizal provides the answer with this reference: https://opensource.stackexchange.com/questions/9557/upstream-re-licensing-project-from-gpl-3-0-to-mit-allowed
"MIT licensed software can be re-licensed as GPL software, and integrated with other GPL software, but not the other way around."

There is code in libspiro and HxSpiro written by other authors. HxSpiro was created in 2016 and at that time

[2020-10-04 04:57] raphlinus commented on #16
Seems clear enough to me, but I'll take a PR to clarify it further.

[2020-10-04 05:00] ctrlcctrlv commented on #16
This is absolutely correct. We can know that George was a BSD proponent but that doesn't have any legal meaning at all. This specific code, he worked on as GPL, and his work can't become BSD without him declaring it so. We cannot know his wishes any other way in a way that would satisfy a lawyer.

[2020-10-04 05:07] JoesCat commented on #16
Thank you Raph.
Everyone is proud of their work and it is a shame to see their projects go to waste due to misunderstandings.

[2020-10-04 10:36] nanjizal commented on #16
I have request Raph removes his fork of my lib hxSpiro2019, there is little point in 3 unmaintained unused hxSpiro versions ( Haxe users never seem to use GPL libraries in projects ), so I have left only my original GPL licensed one. I have no interest in adding a patent they are not relevant in Europe and I have no interest in encouraging their adoption. But if hxSpiro needs any license tweaks fe

[2020-10-04 10:40] davelab6 commented on #16
On Sun, Oct 4, 2020, 12:46 AM Joe <notifications@github.com> wrote:

This is not true at all.

Mit licensed work is compatible with the gpl terms and so can be integrated
into a derivative/combined work wholly re-distributed under the gpl terms,
by a licensee, but the original mit work remains so.

However, a copyright holder can distribute (not re-distribute) under any
license, multiple times. Th

[2020-10-04 11:12] nanjizal commented on #16
Well I should be clear that hxSpiro core ( rather than example use ) was not direct based on libspiro, but indirect, so much of the code relating to libspiro copyright contributions are probably not even in hxSpiro given it was translated via two other languages so much of the algorithm survives but lots of the other stuff will be totally different as I stripped out non essentials and change most

[2020-10-04 19:17] JoesCat commented on #16
@davelab6 - I should have caught that. Just did a copy/paste. Replacing the word "as" with "with" will be closer.
 "MIT licensed software can be re-licensed with GPL software, and integrated
 with other GPL software, but not the other way around."

Thanks @nanjizal - sorry it has to be that way, and now you may understand why Haxer's avoid GPL like the Plague - because MIT allows you to create clo

[2020-10-07 19:09] nanjizal commented on #16
I try to publish all my opensource work under MIT where possible, if there is any ( non-ports ) that interest you that you would like me to re-publish to have another version with GPL license then do let me know.
https://github.com/nanjizalLibraries/nanjizalHaxe/blob/master/README.md

Currently I have given up getting a creative developer role despite many years animating and developing flash and

[2020-10-08 07:52] JoesCat commented on #16
Let's assume you had 10, 50, or 100+ forks downstream of the previously incorrectly licensed code, and one or more of the forks assumed the license as genuinely MIT.
The outcome would still be the same, but you would have had a larger problem to resolve - including downstream forks possible claiming lost income, damages, etc, etc, etc. - you wouldn't want to be "that_guy" holding the smoking gun.

[2022-03-11 04:15] JoesCat commented on #27
Updates for path5.png and path6.png - done.

[2022-03-14 00:01] ctrlcctrlv commented on #27
Thanks for the reminder of this issue. My Rust port has been done for a while. I call it `spiro-inner`. https://github.com/MFEK/spiro-inner.rlib

(Because the idea is, I will wrap it with an "outer" safe library. The "inner" library breaks several Rust conventions by using unsafe code even *in pure Rust that doesn't call out to C*. This is because it's a product of C2Rust that I heavily modified m

[2022-03-14 00:01] #27 closed

[2022-03-14 00:20] JoesCat commented on #30
code removed for "make test:"
done.